body[theme="default"] {
  --background: #1c1c1c;
  --theme: #ff0090;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #1c1c1c;
  --navitem-height: 20px;
  --navitem-width: flex;
  --shadow: 0 5px 20px #333;
  transition: 0.9s ease;
  transition-property: background, transform;
}