body[theme="default"] {
  --background: #000000;
  --theme: #fb00ff;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #000;
  --navitem-height: 20px;
  --navitem-width: flex;
  --shadow: 0 5px 20px #333;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="sky"] {
  --background: #000000;
  --theme: #0084ff;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #000;
  --navitem-height: 20px;
  --navitem-width: flex;
  --shadow: 0 5px 20px #333;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="V3"] {
  --background: #121212;
  --theme: #22c55e;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #000;
  --navitem-height: 20px;
  --navitem-width: flex;
  --shadow: 0 5px 20px #121212;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="V4"] {
  --background: #1c1c1c;
  --theme: #4caf50;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #000;
  --navitem-height: 20px;
  --navitem-width: 20px;
  --shadow: 0 5px 200px var(--theme);
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="METAL"] {
  --background: #0c1618;
  --theme: #002931;
  --text: white;
  --text-secondary: white;
  --theme-second: #0c1618;
  --theme-icon: #2a7152;
  --theme-icon-secondary: #ffffff;
  --navitem-height: 20px;
  --navitem-width: 20px;
  --shadow: 0 5px 20px #0c1618;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="artclass"] {
  --background: #1a2023;
  --theme: #0284d4;
  --text: white;
  --text-secondary: white;
  --theme-second: #0c1618;
  --theme-icon: #fff;
  --theme-icon-secondary: #ffffff;
  --navitem-height: 20px;
  --navitem-width: 20px;
  --shadow: 0 5px 20px #0c1618;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="tiktok"] {
  --background: #121212;
  --theme: #ff3b5c;
  --text: white;
  --text-secondary: white;
  --theme-second: #0c1618;
  --theme-icon: white;
  --theme-icon-secondary: #ffffff;
  --navitem-height: 20px;
  --navitem-width: 20px;
  --shadow: 0 5px 20px 121212;
  transition: 0.9s ease;
  transition-property: background, transform;
}
body[theme="discord"] {
  --background: #313338;
  --theme: #5865f2;
  --text: white;
  --text-secondary: black;
  --theme-second: #333;
  --theme-icon: #fff;
  --theme-icon-secondary: #000;
  --navitem-height: 20px;
  --navitem-width: 20px;
  --shadow: 0 5px 200px 313338;
  transition: 0.9s ease;
  transition-property: background, transform;
}